body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:300px;
  height:520px;
  overflow:hidden;
  touch-action:none;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:800px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:800px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:800px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:800px;
}
#u3 {
  position:absolute;
  left:2px;
  top:392px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:46px;
  width:300px;
  height:300px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u5 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:296px;
  width:300px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:485px;
  width:300px;
  height:278px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:278px;
}
#u9 {
  position:absolute;
  left:2px;
  top:131px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:352px;
  width:300px;
  height:123px;
  text-align:left;
  line-height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:123px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:50px;
  top:12px;
  width:200px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:8px;
  top:12px;
  width:9px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:375px;
  width:280px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:460px;
  width:300px;
  height:60px;
  overflow:hidden;
}
#u19_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:20px;
  top:10px;
  width:200px;
  height:40px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:230px;
  top:10px;
  width:40px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
