@model object
@{
    ViewBag.Title = "操作失败";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    string message = "";
    if(Model!=null)
    {
        string[] strs = (string[])Model;
        message = strs[0];
    }
}


<div style="min-height:500px;text-align:center;line-height:500px;">
    <h2>@Html.Raw(message)</h2>
</div>    


