@using GridMvc.Html
@model GridMvc.DBGrid.DBGrid<MiOU.Entities.Beans.BProductLevel>
@{
    ViewBag.Title = "藕品等级";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<script>
    $(function () {
        $('#add_new_product_level').click(function () {
            openModalDialog("/Admin/NewProductLevel", null);
            //window.location.href = "/Admin/NewProductLevel";
        });
    });

</script>
<div style="overflow:hidden;height:65px;line-height:65px;">
    <div style="float:left;">
        <h2>@ViewBag.Title</h2>
    </div>
    <div style="float:right;">
        <button id="add_new_product_level" class="btn btn-warning">
            <span class="glyphicon glyphicon-plus">
                添加产品等级
            </span>
        </button>
    </div>
</div>
<hr/>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Name).Titled("等级名称").SetWidth("10%");

    columns.Add(c => c.StartPrice).Titled("起始价格").SetWidth("5%");
    columns.Add(c => c.EndPrice).Titled("终止价格").SetWidth("5%");
    columns.Add(c => c.Created).Titled("创建时间").SetWidth("10%").RenderValueAs(o => o.Created > 0 ? MiOU.Util.DateTimeUtil.ConvertToDateTime(o.Created).ToString("yyyy-MM-dd HH:ss") : "");
    columns.Add(c => c.CreatedBy.User.Email).Titled("创建人").SetWidth("10%").RenderValueAs(c => (c.CreatedBy != null && c.CreatedBy.User != null) ? c.CreatedBy.User.Email : "");
    columns.Add(c => c.Updated).Titled("更新时间").SetWidth("10%").RenderValueAs(o => o.Updated > 0 ? MiOU.Util.DateTimeUtil.ConvertToDateTime(o.Updated).ToString("yyyy-MM-dd HH:ss") : "");
    columns.Add(c => c.UpdatedBy.User.Email).Titled("更新人").SetWidth("10%").RenderValueAs(c => (c.UpdatedBy != null && c.UpdatedBy.User != null) ? c.UpdatedBy.User.Email : "");
    columns.Add()
         .Encoded(false)
         .Sanitized(false)
         .SetWidth("6%")
         .RenderValueAs(o => Html.Raw("<a  onclick=\"openModalDialog('/Admin/UpdateProductLevel/"+o.Id+"',null)\">编辑</a>"));
    columns.Add()
         .Encoded(false)
         .Sanitized(false)
         .SetWidth("6%")
         .RenderValueAs(o => Html.Raw("<a onclick=\"openModalDialog('/Admin/SetProductLevelPrices/" + o.Id + "',null)\">设置租金</a>"));

})

