body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:300px;
  height:520px;
  overflow:hidden;
  touch-action:none;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1240px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1240px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1240px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1240px;
}
#u3 {
  position:absolute;
  left:2px;
  top:612px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:124px;
  top:12px;
  width:53px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:10px;
  top:12px;
  width:9px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:10px;
  top:60px;
  width:280px;
  height:130px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:130px;
}
#u11 {
  position:absolute;
  left:2px;
  top:57px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:20px;
  top:74px;
  width:250px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:90px;
  width:250px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:233px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:250px;
  height:1px;
}
#u15 {
  position:absolute;
  left:20px;
  top:100px;
  width:260px;
  height:80px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:80px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:10px;
  top:200px;
  width:280px;
  height:100px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:100px;
}
#u18 {
  position:absolute;
  left:2px;
  top:42px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:20px;
  top:230px;
  width:250px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:233px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:250px;
  height:1px;
}
#u20 {
  position:absolute;
  left:20px;
  top:243px;
  width:260px;
  height:48px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:48px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:20px;
  top:211px;
  width:250px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:310px;
  width:280px;
  height:151px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:151px;
}
#u25 {
  position:absolute;
  left:2px;
  top:68px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:20px;
  top:355px;
  width:250px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:233px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:250px;
  height:1px;
}
#u27 {
  position:absolute;
  left:20px;
  top:321px;
  width:260px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:32px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:20px;
  top:365px;
  width:260px;
  height:96px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:96px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:10px;
  top:471px;
  width:280px;
  height:129px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:129px;
}
#u32 {
  position:absolute;
  left:2px;
  top:56px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:20px;
  top:480px;
  width:270px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:20px;
  top:499px;
  width:250px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:233px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:250px;
  height:1px;
}
#u36 {
  position:absolute;
  left:20px;
  top:509px;
  width:260px;
  height:64px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:64px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
