body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:300px;
  height:520px;
  overflow:hidden;
  touch-action:none;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:800px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:800px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:800px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:800px;
}
#u3 {
  position:absolute;
  left:2px;
  top:392px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:8px;
  width:50px;
  height:25px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:262px;
  top:13px;
  width:28px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:134px;
  top:12px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:39px;
  width:300px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:49px;
  width:50px;
  height:25px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:263px;
  top:54px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:206px;
  width:300px;
  height:100px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u19 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:10px;
  top:217px;
  width:80px;
  height:80px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u21 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:316px;
  width:300px;
  height:100px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u23 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:96px;
  top:251px;
  width:74px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:180px;
  top:251px;
  width:81px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:96px;
  top:234px;
  width:199px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:182px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:199px;
  height:1px;
}
#u29 {
  position:absolute;
  left:94px;
  top:347px;
  width:199px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:182px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:199px;
  height:1px;
}
#u30 {
  position:absolute;
  left:96px;
  top:280px;
  width:74px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:96px;
  top:218px;
  width:183px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:96px;
  top:331px;
  width:92px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:0px;
  top:119px;
  width:300px;
  height:80px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u37 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:96px;
  top:364px;
  width:74px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:180px;
  top:364px;
  width:81px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:96px;
  top:390px;
  width:74px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:10px;
  top:326px;
  width:80px;
  height:80px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u45 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:426px;
  width:300px;
  height:100px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u47 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:94px;
  top:457px;
  width:199px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:182px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:199px;
  height:1px;
}
#u49 {
  position:absolute;
  left:96px;
  top:441px;
  width:92px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:96px;
  top:474px;
  width:74px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:180px;
  top:474px;
  width:81px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:96px;
  top:500px;
  width:74px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:10px;
  top:436px;
  width:80px;
  height:80px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u58 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:536px;
  width:300px;
  height:100px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u60 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:94px;
  top:567px;
  width:199px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:182px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:199px;
  height:1px;
}
#u62 {
  position:absolute;
  left:96px;
  top:551px;
  width:92px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:96px;
  top:584px;
  width:74px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:180px;
  top:584px;
  width:81px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:96px;
  top:610px;
  width:74px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:10px;
  top:546px;
  width:80px;
  height:80px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u71 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:0px;
  top:78px;
  width:151px;
  height:35px;
  color:#FF0000;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:35px;
}
#u73 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:149px;
  top:78px;
  width:151px;
  height:35px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:35px;
}
#u75 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:0px;
  top:470px;
  width:300px;
  height:50px;
  overflow:hidden;
}
#u76_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u76_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:50px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:50px;
}
#u78 {
  position:absolute;
  left:2px;
  top:17px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:33px;
  top:17px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:75px;
  top:0px;
  width:76px;
  height:50px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:50px;
}
#u82 {
  position:absolute;
  left:2px;
  top:17px;
  width:72px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:149px;
  top:0px;
  width:76px;
  height:50px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:50px;
}
#u84 {
  position:absolute;
  left:2px;
  top:17px;
  width:72px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:224px;
  top:0px;
  width:76px;
  height:50px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:50px;
}
#u86 {
  position:absolute;
  left:2px;
  top:17px;
  width:72px;
  word-wrap:break-word;
}
