body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1494px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:300px;
  height:520px;
  overflow:hidden;
  touch-action:none;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1200px;
  overflow:hidden;
  touch-action:none;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1200px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1200px;
}
#u3 {
  position:absolute;
  left:2px;
  top:592px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:8px;
  width:50px;
  height:25px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:262px;
  top:13px;
  width:28px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:134px;
  top:12px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:39px;
  width:300px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:50px;
  width:35px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:134px;
  top:50px;
  width:40px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:78px;
  width:300px;
  height:300px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u19 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:377px;
  width:300px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:10px;
  top:392px;
  width:164px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:496px;
  top:476px;
  width:34px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:22px;
  top:670px;
  width:250px;
  height:32px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:32px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:22px;
  top:650px;
  width:118px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:474px;
  top:541px;
  width:78px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:77px;
  top:447px;
  width:45px;
  height:45px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u33 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:173px;
  top:462px;
  width:53px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:132px;
  top:462px;
  width:31px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:0px;
  top:77px;
  width:300px;
  height:300px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u39 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:22px;
  top:768px;
  width:75px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:22px;
  top:790px;
  width:105px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:22px;
  top:814px;
  width:53px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:100px;
  top:871px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:27px;
  top:516px;
  width:66px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:91px;
  top:516px;
  width:83px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:27px;
  top:541px;
  width:65px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:27px;
  top:567px;
  width:157px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:27px;
  top:592px;
  width:204px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:12px;
  top:613px;
  width:280px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u59 {
  position:absolute;
  left:22px;
  top:707px;
  width:250px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:10px;
  top:727px;
  width:280px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u62 {
  position:absolute;
  left:10px;
  top:855px;
  width:280px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u63 {
  position:absolute;
  left:70px;
  top:908px;
  width:114px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:60px;
  top:934px;
  width:53px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:132px;
  top:934px;
  width:71px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:14px;
  top:1128px;
  width:280px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u70 {
  position:absolute;
  left:263px;
  top:392px;
  width:27px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:110px;
  top:421px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:104px;
  top:624px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:100px;
  top:747px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:70px;
  top:964px;
  width:132px;
  height:40px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u79 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:254px;
  top:51px;
  width:27px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:0px;
  top:473px;
  width:300px;
  height:50px;
  overflow:hidden;
}
#u82_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u82_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u84 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:20px;
  top:17px;
  width:54px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:210px;
  top:10px;
  width:80px;
  height:30px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:120px;
  top:10px;
  width:80px;
  height:30px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:821px;
  top:1375px;
  width:90px;
  height:30px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:821px;
  top:1415px;
  width:90px;
  height:30px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:611px;
  top:1585px;
  width:300px;
  height:160px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:160px;
}
#u96 {
  position:absolute;
  left:2px;
  top:72px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:735px;
  top:1717px;
  width:53px;
  height:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:631px;
  top:1699px;
  width:260px;
  height:10px;
}
#u99_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u100 {
  position:absolute;
  left:611px;
  top:1765px;
  width:53px;
  height:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:611px;
  top:1799px;
  width:235px;
  height:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:639px;
  top:1408px;
  width:105px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:639px;
  top:1434px;
  width:40px;
  height:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:1324px;
  top:1375px;
  width:170px;
  height:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:390px;
  top:50px;
  width:300px;
  height:970px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:970px;
}
#u111 {
  position:absolute;
  left:2px;
  top:477px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:720px;
  top:234px;
  width:53px;
  height:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:720px;
  top:260px;
  width:320px;
  height:35px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u115 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:731px;
  top:270px;
  width:91px;
  height:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:869px;
  top:270px;
  width:156px;
  height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:1050px;
  top:270px;
  width:40px;
  height:16px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:720px;
  top:305px;
  width:320px;
  height:35px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u123 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:731px;
  top:315px;
  width:105px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:869px;
  top:315px;
  width:156px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:1050px;
  top:315px;
  width:40px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:663px;
  top:292px;
  width:93px;
  height:10px;
  -webkit-transform:rotate(300deg);
  -moz-transform:rotate(300deg);
  -ms-transform:rotate(300deg);
  transform:rotate(300deg);
}
#u130_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_end {
  position:absolute;
  left:76px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_line {
  position:absolute;
  left:0px;
  top:5px;
  width:93px;
  height:1px;
}
#u131 {
  position:absolute;
  left:660px;
  top:1054px;
  width:256px;
  height:16px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:324px;
  top:1054px;
  width:66px;
  height:16px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:400px;
  top:985px;
  width:100px;
  height:30px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u136 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:360px;
  top:1024px;
  width:44px;
  height:10px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
}
#u137_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u137_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:18px;
  height:20px;
}
#u137_line {
  position:absolute;
  left:0px;
  top:5px;
  width:44px;
  height:1px;
}
#u138 {
  position:absolute;
  left:658px;
  top:1032px;
  width:44px;
  height:10px;
  -webkit-transform:rotate(218deg);
  -moz-transform:rotate(218deg);
  -ms-transform:rotate(218deg);
  transform:rotate(218deg);
}
#u138_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_line {
  position:absolute;
  left:0px;
  top:5px;
  width:44px;
  height:1px;
}
#u139 {
  position:absolute;
  left:720px;
  top:360px;
  width:190px;
  height:16px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:639px;
  top:338px;
  width:56px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u141_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u141_end {
  position:absolute;
  left:39px;
  top:-5px;
  width:18px;
  height:20px;
}
#u141_line {
  position:absolute;
  left:0px;
  top:5px;
  width:56px;
  height:1px;
}
#u142 {
  position:absolute;
  left:721px;
  top:660px;
  width:94px;
  height:16px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:825px;
  top:660px;
  width:86px;
  height:16px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:921px;
  top:660px;
  width:87px;
  height:16px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:690px;
  top:663px;
  width:21px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u148_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u148_end {
  position:absolute;
  left:4px;
  top:-5px;
  width:18px;
  height:20px;
}
#u148_line {
  position:absolute;
  left:0px;
  top:5px;
  width:21px;
  height:1px;
}
