
@{
    ViewBag.Title = "藕品信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div></div>

<div id="product_body" style="overflow:hidden;">
    <div style="float:left;width:40%;">
        <img style="width:456px;" src="" />
    </div>
    <div style="float:left;width:40%;">
        <div>
            <span>康杨轮椅00033</span><span>旅游轮椅</span>
        </div>
        <div>
            <span>市场价：</span><span>10000元</span>
        </div>
        <div>
            <img class="locIcon" style="" src="~/Content/Images/location_icon.png" /><span style="color:#B4B4B4;">闵行-上海春城</span>
        </div>
        <div>
            <span>就近：莘庄，麦多生活广场，新会橙</span>
        </div>
        <div>
            <span>藕品状态：</span><span>保养中</span>
        </div>
        <div>
            <span>交货方式：</span><span>附件送货</span>
        </div>
        <div>
            <span>米藕代管：</span><span>代管客户：2142354892345784238</span>
        </div>
        <div>
            <input type="button" class="btn btn-danger" value="立即租赁" onclick="location.href = '/Product/Rent';">
        </div>
    </div>
    <div style="float:right;width:20%;"></div>
</div>

<div id="product_others"></div>


