
body{
    background-color:#FFF;
    padding-top: 51px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
    width:100px;padding-top:5px;padding-bottom:5px;
}
.dl-horizontal dd {
    margin-left:120px;padding-top:5px;padding-bottom:5px;
}
/*.container {
padding-left:0px;
padding-right:0px;
background-color:#F1F1F1;
}*/
/* Set width on the form input elements since they're 100% wide by default */
/*
input,
select,
textarea {
    max-width: 280px;
}
*/
/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.input_reg {
    width:40%;
}
.input_reg_drp {
    width:30x;
}

.mainBg {
    background-color:#F1F1F1;
}
.fontColorS {
color:#FFD03F;
}
.mobileInput {
width:100%;
}
.mobileBottomMenu{
    width:25%;
}
.topRentMenu {
    background-color:#FFFBFB;
    color:#FFD03F;
    border-radius:8px;
    border-color:#FFD03F;
}
.topRentMenuA {
    background-color:darkorange;
    color:#FFFFFF;
    border-radius:8px;
    border-color:#FFD03F;
}
.ccaret {
    border-top-color:#FFD03F;
}
.cityC {
   border-color:#FFFFFF;
}
.bgW {
    background-color:#FFFFFF;
    border-color:#FFFFFF;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #FFF;
  background-color: #FFD03F;
  border-color: #FFD03F;
}

.menuNav
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    /* box-shadow: 0 -2px 5px #ccc; */
    cursor: pointer;
    background-color: #f8f8f8;
    font-size: 12px;
}

.nav_bottom{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
    .nav_bottom li {
        width:25%;
        float: left;
        height: 50px;
        text-align: center;
        position: relative;
        display: table;
    }

.nav_bottom .navcontent
{
    display: table-cell;
    vertical-align: middle;
}

.nav_bottom .navcontent img {
    display: block;
    margin: 0 auto 2px;
}
.nav_bottom .navcontent .link,.nav_bottom .navcontent .linkA {
    color:#6B6B6B;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    float: left;
}
    .nav_bottom .navcontent .linkA {
    
         color:#FFD03F;
    }
.category_list {
    overflow:hidden;
}
    .category_list .item {
        margin-top:10px;
        margin-left:10px;
        margin-right:10px;
        overflow:hidden;
        border:1px solid #E7E7E7;
        border-radius:3px;
        
    }
    .category_list .last {
        margin-bottom:10px;
    }
        .category_list .item .top {
        overflow:hidden;height:80px;background-color:#FFF;        
        line-height:80px;
        padding:10px 10px 10px 10px;
        }
        .category_list .item .clogo {
            float:left;
            width:175px;
            height:70px;
            line-height:70px;   
            color:#6FA0FF;         
        }
        .category_list .item .cChild {
            float:left;
            width:auto;            
            height:70px;
            line-height:70px;
        }
        .category_list .item .desc {            
            padding-left:10px;
            padding-right:10px;   
            height:60px;      
            overflow:hidden;
        }
            .category_list .item .desc .info {
                color:#999;              
                float:left;
                line-height:60px;
            }
            .category_list .item .desc .infoRight {             
                float:right;              
                height:60px;
                padding-top:12.5px;
               
            }
.category_list .item .desc .infoRight .r {
    display:inline-block;border:1px solid #FF6F5E;color:#FF6F5E;border-radius:5px;padding:4px 4px 4px 4px;
}
.category_list .item .desc .infoRight .r img{
    margin:0;padding:0;width:25px;height:25px;
}
.category_list .item .desc .infoRight .r p{
    padding-left:4px;display:inline-block;margin:0;vertical-align:middle;
}

textarea.mTA1{
    width:70%;
    height:80px;
}
.perLabel {
width:auto;font-weight: normal;margin-left:4px;
}

.footContainer{
    padding-top:100px;background-color:#F1F1F1;margin-top:20px;
}
    .footContainer .content {
    padding:20px 0px 20px 0px;background-color:#FFF;
    }
    .footContainer .content .top{
        height:80px;line-height:80px;color:#12BF60;text-align:center;border-bottom:1px solid #DFDFDF;font-size:30px;font-weight:bold;
    }
        .footContainer .content .middle {
        padding:20px 20px 20px 20px;overflow:hidden;
        }
            .footContainer .content .middle .c {
                width:14.2%;float:left;border-right:1px solid #DFDFDF;text-align:center;height:80px;
            }
            .footContainer .content .middle ul{
                list-style:none;padding:0;margin:0;width:100%;
            }
                .footContainer .content .middle ul li {
                    font-size:13px;
                }
            .footContainer .content .bottom {
                text-align:center;font-size:12px;
            }
.hmain {
    background-color:#F1F1F1;
}
.hmargin{
    margin-top:50px;
}
.hc {
    background-color:#FFF;   
  }
    .hc .title {
        font-size:16px;
        font-weight:bold;
    }
    .hc .more {
        font-size:13px;
    }
.hcp {
   
    height:50px;
    line-height:50px;
    background-color:#FFF;
    border-bottom:1px solid #DFDFDF;
}
.hcpc{
    padding-left:20px;
    padding-right:20px;
}
.hc .bar{
    background-color:#FF6F5E;
    height:100px;
}
    .hc .bar .box {
        margin-top:20px;
        padding:10px 10px 10px 10px;
        color:#FFF;
        
        float:left;
       
    }
.boxleft1{
    margin-left:100px;
}
.boxfont1{
    font-size:14px;
    font-weight:bold;
}
.boxborder {
     border-radius:3px 3px;
     border:1px solid #FFF;
}
    .hc .bar .box .pt{
        margin:0;
    }

.boxfont2{
    font-size:13px;
}
.hcate{
    padding-top:20px;padding-bottom:20px;
}
.hcate .hctitle{
    overflow:hidden;
}
.hcate .hctitle .category{
    float:left;background-color:#6FA0FF;height:40px;line-height:20px;padding:10px 20px 10px 20px;color:#FFF;
}
.hcate .hctitle .category .alink{
    
    margin-left:0px;
    color:#FFF;
    display:inline-block;
    float:right;
    padding:0px 10px 0px 10px;
    font-size:14px;
    text-decoration:none;
    cursor:pointer;
    border-radius:3px 3px;
    border:1px solid #FFF;
}
.hcate .pw{
    width:204px;
}
.hcate .hctitle .categoryList{
    float:left;margin-left:20px;padding-top:6px;font-size:13px;
}
    .hcate .hctitle .categoryList ul {
        list-style:none;margin:0;padding:0;overflow:hidden;border:1px solid #DFDFDF;border-left:0px;border-radius:3px 3px;
    }
        .hcate .hctitle .categoryList ul li {
            float:left;font-size:16px;padding:5px 20px 5px 20px;border-left:1px solid #DFDFDF;background-color:#FFF;
        }
            .hcate .hctitle .categoryList ul li a {
                color:#333;
            }
        .hcate .hctitle .categoryList ul .lis {
            background-color:#FFD03F;
        }
            .hcate .hctitle .categoryList ul .lis a {
                color:#FFF;
            }
    .hcate .hctitle .categoryList ul li .alinkc{        
        display:inline-block;       
        font-size:14px;
        text-decoration:none;
        cursor:pointer;
    }
    .hcate .hctitle .categoryList ul li .alinks{       
        display:inline-block;       
        font-size:14px;
        text-decoration:none;
        cursor:pointer;     
    }
           
.hcate .spdt{
    float:left;
    padding:10px 10px 10px 10px;
}
.nhp,.nb {
    border:1px solid #DFDFDF;
    border-radius:3px 3px;
    margin-top:20px;
}
.nhp {
    margin-left:20px;
}

.dlit,.dli {
    font-size:12px;
    color:#666;
    height:25px;line-height:25px;
}
.dlit {
    color:#333;
}

.myTitle {
    height:40px;line-height:40px;text-align:center;font-weight:bold;
}
.myTitleUl {
    list-style:none;margin:0;padding:0;display:block;
}
    .myTitleUl .libd {
        border-bottom:1px solid #FFF;
    }
    .myTitleUl .lid {
        text-align:center;display:block;height:40px;line-height:40px;background:#F1F1F1;    
    }

     .myTitleUl .lis {
        text-align:center;display:block;height:40px;line-height:40px;background:#FFD03F;    
    }