
<div class="footContainer">
    <div class="content">
        <div class="top">米藕健康租赁，老人长命百岁</div>
        <div class="middle">
            <div class="c">
                <ul>
                    <li>新手指南</li>
                    <li>租赁流程</li>
                    <li>用户协议</li>
                    <li>关于我们</li>
                </ul>
            </div>
            <div class="c">
                <ul>
                    <li>关于支付</li>
                    <li>在线支付</li>
                    <li>发票</li>
                </ul>
            </div>
            <div class="c">                
                <ul>
                    <li>关于配送</li>
                    <li>配送方式</li>
                    <li>配送费用</li>
                    <li>收货验货</li>
                </ul>
            </div>
            <div class="c">
                <ul>
                    <li>售后服务</li>
                    <li>投诉建议</li>
                </ul>
            </div>
            <div class="c">
                <ul>
                    <li>关于配送</li>
                    <li>配送方式</li>
                    <li>配送费用</li>
                    <li>收货验货</li>
                </ul>
            </div>
            <div class="c">

            </div>
            <div class="c">

            </div>
        </div>
        <div class="bottom">
            <p>
                沪公安局安备112330494004 | 沪ICP证213213号 | 沪ICP备23234号
            </p>
            <p>&copy; @DateTime.Now.Year - Meet Old</p>
        </div>
    </div>
</div>
