body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:300px;
  height:520px;
  overflow:hidden;
  touch-action:none;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:850px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:850px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:850px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:850px;
}
#u3 {
  position:absolute;
  left:2px;
  top:417px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:8px;
  width:50px;
  height:25px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:262px;
  top:13px;
  width:28px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:134px;
  top:12px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:40px;
  width:300px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:52px;
  width:35px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:129px;
  top:52px;
  width:53px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:79px;
  width:300px;
  height:80px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:10px;
  top:214px;
  width:133px;
  height:136px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:136px;
}
#u21 {
  position:absolute;
  left:2px;
  top:52px;
  width:129px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:154px;
  top:214px;
  width:133px;
  height:136px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:136px;
}
#u23 {
  position:absolute;
  left:2px;
  top:60px;
  width:129px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:169px;
  width:76px;
  height:35px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:224px;
  top:169px;
  width:76px;
  height:35px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:149px;
  top:169px;
  width:76px;
  height:35px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:237px;
  top:53px;
  width:53px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:75px;
  top:169px;
  width:76px;
  height:35px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:10px;
  top:320px;
  width:133px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:154px;
  top:320px;
  width:133px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:10px;
  top:360px;
  width:133px;
  height:136px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:136px;
}
#u39 {
  position:absolute;
  left:2px;
  top:52px;
  width:129px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:154px;
  top:360px;
  width:133px;
  height:136px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:136px;
}
#u41 {
  position:absolute;
  left:2px;
  top:60px;
  width:129px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:10px;
  top:466px;
  width:133px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:154px;
  top:466px;
  width:133px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:85px;
  top:514px;
  width:105px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
