
@{
    ViewBag.Title = "中国最专业的养老租赁平台";
}

<div class="hmain">    
    <div class="hc hmargin">
        <div class="hcp hcpc" style="overflow:hidden;">
            <div style="float:left;"><span class="title">藕主</span></div>
            <div style="float:right;"><span class="more">查看更多>></span></div>
        </div>
        <div class="hcpc" style="padding-top:20px;padding-bottom:20px;overflow:hidden;">
            <div style="float:left;">
                <p>分享健康用品，成为藕主</p>
                <p>帮助需要的人</p>
                <p>还能获得收益</p>
                <div>
                    <input type="button" class="btn btn-info" value="添加藕品，成为藕主" onclick="location.href = '/Product/Add';">
                </div>
            </div>
            <div style="float:left;">

            </div>
        </div>        
    </div>   
    <div class="hc hmargin">
        <div class="bar" style="overflow:hidden;">
           <div class="box boxborder boxleft1 boxfont1">
               <p class="pt">家有米藕</p>
               <p class="pt">健康长久</p>
           </div>
            <div class="box boxleft1 boxfont2">
                <p class="pt">无论居家或者出门在外,</p>
                <p class="pt">为老人或者身体不适者</p>
            </div>
            <div class="boxleft1" style="float:left;line-height:100px;color:#FFF;">
                <p class="pt"><span style="font-size:18px;font-weight:bold;">租赁 </span><span style="font-size:16px;">或 </span><span style="font-size:18px;font-weight:bold;">借用 </span><span style="font-size:14px;">健康用品</span></p>
            </div>
            <div class="box boxleft1 boxfont2">
                <p class="pt">过的舒适,</p>
                <p class="pt">玩的开心</p>
            </div>
        </div>
    </div>
    <div class="hc" style="padding-top:50px;">
        <div class="hcp hcpc" style="overflow:hidden;">
            <div style="float:left;"><span class="title">藕品</span></div>           
        </div>
        <div class="hcpc" style="padding-top:20px;padding-bottom:20px;overflow:hidden;">
            <div class="hcate">
                <div class="hctitle">
                    <div class="category">
                        <span style="font-size:20px;">出行代步</span> <a class="alink">查看全部</a>
                    </div>
                    <div class="categoryList">
                        <ul>
                            <li>
                                <a class="alinkc">热门</a>
                            </li>
                            <li>
                                <a class="alinkc">手动轮椅</a>
                            </li>
                            <li>
                                <a class="alinkc">电动轮椅</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>   
</div>
